<app-sub-header></app-sub-header>
<section class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <button type="button" class="btn btn-primary float-left" data-toggle="modal" data-target="#idModalCustomer" (click)="btnAdd()">
              Add Customer <i class="fa fa-plus"></i>
            </button>
            <button type="button" class="btn btn-warning float-right" data-toggle="modal" data-target="#idModalCustomer"
                    (click)="btnSearch()">
              Search <i class="fa fa-search"></i>
            </button>
          </div>
          <div class="card-body">
            <table class="table table-striped table-responsive w-100 d-block d-md-table data-table">
              <thead>
              <tr>
                <th>id</th>
                <th>Name</th>
                <th>Birthday</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Customer Type</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let customer of customerArr">
                <td>{{customer.id}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.birthday}}</td>
                <td>{{customer.gender == 0 ? 'female' : 'male'}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.customerType.name}}</td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn btn-success dropdown-toggle" id="dropdownAction"
                            data-toggle="dropdown" data-haspopup="true" aria-expanded="false">
                      action
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownAction">
                      <a type="button" class="dropdown-item" data-toggle="modal" data-target="#idModalCustomer"
                         (click)="btnDetail(customer.id)">
                        detail
                      </a>
                      <a type="button" class="dropdown-item" data-toggle="modal" data-target="#idModalCustomer"
                         (click)="btnEdit(customer.id)">
                        edit
                      </a>
                      <a type="button" class="dropdown-item" data-toggle="modal" data-target="#idModalCustomer"
                         (click)="btnDelete(customer.id)">
                        delete
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="idModalCustomer" tabindex="-1" role="dialog" aria-labelledby="al_idModalCustomer" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable mw-75" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="al_idModalCustomer">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form autocomplete="off" [formGroup]="formGroup">
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="name">Name</label>
              <input type="text" id="name" class="form-control" formControlName="name">
              <small class="text-danger"
                     *ngIf="formGroup.get('name')?.invalid && formGroup.get('name')?.touched">
                error !
              </small>
            </div>
            <div class="col-md-6 form-group">
              <label for="birthday">Birthday</label>
              <input type="date" id="birthday" class="form-control" formControlName="birthday">
              <small class="text-danger"
                     *ngIf="formGroup.get('birthday')?.invalid && formGroup.get('birthday')?.touched">
                error !
              </small>
            </div>
            <div class="col-md-6 mx-auto my-auto text-center form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="male" value="1" formControlName="gender">
                <label class="form-check-label" for="male">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="female" value="0" formControlName="gender">
                <label class="form-check-label" for="female">Female</label>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <label for="email">
                Email
              </label>
              <input type="email" id="email" class="form-control" formControlName="email">
              <small class="text-danger"
                     *ngIf="formGroup.get('email')?.invalid && formGroup.get('email')?.touched">
                invalid !
              </small>
            </div>
            <div class="col-md-6 form-group">
              <label for="address">
                Address
              </label>
              <input type="text" id="address" class="form-control" formControlName="address">
              <small class="text-danger"
                     *ngIf="formGroup.get('address')?.invalid && formGroup.get('address')?.touched">
                invalid !
              </small>
            </div>
            <div class="col-md-6 form-group">
              <label for="customerType">Customer Type</label>
              <select id="customerType" class="form-control mh-40" formControlName="customerType" [compareWith]="compareWith">
                <option *ngFor="let customerType of customerTypeArr" [ngValue]=customerType>
                  {{customerType.name}}
                </option>
              </select>
              <small class="text-danger"
                     *ngIf="formGroup.get('customerType')?.invalid && formGroup.get('customerType')?.touched">
                invalid !
              </small>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
                (click)="submitAddOrUpdate()"
                [hidden]="attrHiddenBtnAdd && attrHiddenBtnEdit"
                [disabled]="!formGroup.valid">
          {{!formGroup.controls.id.value ? 'Create' : 'Update'}}
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal"
                [hidden]="attrHiddenBtnDelete"
                (click)="submitDelete(formGroup.get('id')?.value)">
          Delete
        </button>
        <button type="button" class="btn btn-warning" data-dismiss="modal"
                [hidden]="attrHiddenBtnSearch"
                (click)="submitSearch()">
          Search
        </button>
      </div>
    </div>
  </div>
</div>

