<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{/Customer/index::listCustomer}"></div>
<form action="/Customer/edit" method="post" th:object="${customer}">
    <table border="1">
        <tr>
            <td>customer name</td>
            <td>customer gender</td>
            <td>customer birthday</td>
        </tr>
        <tr>
            <td>
                <input type="text" th:field="*{customerName}">
            </td>
            <td>
                <input type="radio" th:field="*{customerGender}" value="1"> Male <br>
                <input type="radio" th:field="*{customerGender}" value="2"> Female <br>
                <input type="radio" th:field="*{customerGender}" value="3"> Other
            </td>
            <td>
                <input type="date" th:field="*{customerBirthday}">
            </td>
        </tr>
    </table>
    <input type="hidden" th:field="*{customerId}">
    <button type="submit" id="submit">submit</button>
</form>
</body>
</html>