
<section class="bg-white my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Detail Customer Type
          </div>
          <div class="card-body">
            <form autocomplete="off" [formGroup]="formGroup">
              <div class="row">
                <div class="col-md-12">
                  <label for="id">Customer Type Id</label>
                  <input type="text" id="id" class="form-control" formControlName="id">
                </div>
                <div class="col-md-12">
                  <label for="name">Customer Type Name</label>
                  <input type="text" id="name" class="form-control" formControlName="name">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
