<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style th:replace="~{/layout::layoutLibHeader}"></style>
</head>
<body>

<div>
    <form action="/RentType/create" method="post" th:object="${rentType}">
        <table border="1">
            <tr>
                <td>rentType name</td>
                <td>
                    <input type="text" th:field="*{rentTypeName}">
                    <div style="color: red" th:if="${#fields.hasErrors('rentTypeName')}" th:errors="*{rentTypeName}"></div>
                </td>
            </tr>
            <tr>
                <td>rentType cost</td>
                <td>
                    <input type="number" step="any" th:field="*{rentTypeCost}">
                </td>
            </tr>
            <tr>
               <th colspan="2">
                   <button type="submit">submit</button>
               </th>
            </tr>
        </table>
    </form>
</div>
<script th:replace="~{/layout::layoutLibFooter}"></script>
</body>
</html>