<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <tr>
          <th>id</th>
          <th>name</th>
          <th>age</th>
          <th>avatar</th>
          <th>scores</th>
          <th>exam</th>
          <th>action</th>
        </tr>
        <tr *ngFor="let item of studentList">
          <td>{{item.studentId}}</td>
          <td>{{item.studentName}}</td>
          <td>{{item.studentAge}}</td>
          <td>{{item.studentAvatar}}</td>
          <td>{{item.studentScores}}</td>
          <td [ngStyle]="{color: item.studentScores >= 5 ? 'blue' : 'red'}">{{item.studentScores < 5 ? 'Fail' : 'Pass'}}</td>
          <td>
            <button (click)="clickDetailStudent(item.studentId)" class="btn btn-success">detail</button>
            <a class="btn btn-link ml-2" [routerLink]="['/students', item.studentId]">{{item.studentName}}</a>
            <button (click)="clickDeleteStudent(item.studentId)" class="btn btn-warning ml-2">delete</button>
          </td>
        </tr>
      </table>
    </div>
    <app-student
      [messageChild]="messageParent"
      [studentDetailChild]="studentDetailParent"
      [objStudentForForm]="studentDetailParent"
      (eventEmitter)="receiveObjIStudent($event)"
    ></app-student>
  </div>
</div>
