<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style th:replace="~{/layout::layoutLibHeader}"></style>
</head>
<body>

<form action="/Employee/edit" method="post" th:object="${employee}">
    <input type="hidden" th:field="*{employeeId}">
    <table border="1">
        <tr>
            <td>employee name</td>
            <td>
                <input type="text" th:field="*{employeeName}">
                <div style="color: red" th:if="${#fields.hasErrors('employeeName')}" th:errors="*{employeeName}"></div>
            </td>
        </tr>
        <tr>
            <td>employee birthday</td>
            <td>
                <input type="date" th:field="*{employeeBirthday}">
            </td>
        </tr>
        <tr>
            <td>employee id card</td>
            <td>
                <input type="text" th:field="*{employeeIdCard}">
            </td>
        </tr>
        <tr>
            <td>employee salary</td>
            <td>
                <input type="number" step="any" th:field="*{employeeSalary}">
            </td>
        </tr>
        <tr>
            <td>employee phone</td>
            <td>
                <input type="text" th:field="*{employeePhone}">
            </td>
        </tr>
        <tr>
            <td>employee email</td>
            <td>
                <input type="email" th:field="*{employeeEmail}">
                <div style="color: red" th:if="${#fields.hasErrors('employeeEmail')}" th:errors="*{employeeEmail}"></div>
            </td>
        </tr>
        <tr>
            <td>employee address</td>
            <td>
                <input type="text" th:field="*{employeeAddress}">
            </td>
        </tr>
        <tr>
            <td>position</td>
            <td>
                <select th:field="*{position}">
                    <option th:each="item:${positionIter}" th:text="${item.positionName}" th:value="${item.positionId}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>education degree</td>
            <td>
                <select th:field="*{educationDegree}">
                    <option th:each="item:${educationDegreeIter}" th:text="${item.educationDegreeName}" th:value="${item.educationDegreeId}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>division</td>
            <td>
                <select th:field="*{division}">
                    <option th:each="item:${divisionIter}" th:text="${item.divisionName}" th:value="${item.divisionId}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>user name</td>
            <td>
                <input type="text" th:field="*{user.userName}">
                <div style="color: red" th:if="${#fields.hasErrors('user.userName')}" th:errors="*{user.userName}"></div>
            </td>
        </tr>
        <tr>
            <td>user password</td>
            <td>
                <input type="password" th:field="*{user.password}">
                <div style="color: red" th:if="${#fields.hasErrors('user.password')}" th:errors="*{user.password}"></div>
            </td>
        </tr>
        <tr>
            <td>role</td>
            <td>
                <input type="checkbox" th:field="*{user.role}" th:each="item:${roleIter}" th:text="${item.roleName}" th:value="${item.roleId}">
            </td>
        </tr>
        <tr>
            <th colspan="2">
                <button type="submit">submit</button>
            </th>
        </tr>
    </table>
</form>
<script th:replace="~{/layout::layoutLibFooter}"></script>
</body>
</html>