<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style th:replace="~{index::styleMenu}"></style>
</head>
<body>
<div th:replace="~{index::listMenu}"></div>
<div>
    <h3><a href="/Employee/create">create employee</a></h3>
</div>
<div>
    <table border="1">
        <tr>
            <th>name</th>
            <th>birthday</th>
            <th>id card</th>
            <th>salary</th>
            <th>phone</th>
            <th>email</th>
            <th>address</th>
            <th>position</th>
            <th>education degree</th>
            <th>division</th>
            <th>action</th>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
</div>
</body>
</html>