<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style th:replace="~{index::styleMenu}"></style>
</head>
<body>
<div th:replace="~{index::listMenu}"></div>
<div>
    <form action="/ServiceType/create" method="post" th:object="${serviceType}">
        <input type="hidden" th:field="*{serviceTypeId}">
        <table border="1">
            <tr>
                <td>serviceTypeName name</td>
                <td>
                    <input type="text" th:field="*{serviceTypeName}">
                    <div style="color: red" th:if="${#fields.hasErrors('serviceTypeName')}" th:errors="*{serviceTypeName}"></div>
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    <button type="submit">submit</button>
                </th>
            </tr>
        </table>
    </form>
</div>
</body>
</html>