<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style th:replace="~{/layout::layoutLibHeader}"></style>
</head>
<body>

<div th:replace="~{/layout::layoutNav}"></div>
<div th:replace="~{/layout::layoutSupporSmallPage}"></div>

<!--<div>-->
<!--    <h3><a href="/Contract/create">create contract</a></h3>-->
<!--</div>-->
<!--<div>-->
<!--    <form action="/ContractDetail/create" method="get">-->
<!--        <label>add detail for service : </label>-->
<!--        <select name="id">-->
<!--            <option th:each="item:${listContract}"-->
<!--                    th:text="${item.contractId} + ' - service : ' + ${item.service.serviceName}"-->
<!--                    th:value="${item.contractId}"></option>-->
<!--        </select>-->
<!--        <button type="submit">forward</button>-->
<!--    </form>-->
<!--</div>-->

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="w-100">
                <div class="card">
                    <div class="card-header">
                        <a href="/Contract/create" class="btn btn-outline-dark btn-sm rounded d-inline float-md-left float-sm-left"
                           style="margin-top: 5px;">Create Contract <i class="fas fa-plus-square"></i></a>
                        <form action="/ContractDetail/create" style="margin-top: 5px;"
                              class="d-inline float-md-right float-sm-left" method="get">
                            <label>
                                <select name="id" class="form-control-sm">
                                    <option th:each="item:${listContract}"
                                            th:text="${item.contractId} + ' - service : ' + ${item.service.serviceName}"
                                            th:value="${item.contractId}"></option>
                                </select>
                            </label>
                            <button type="submit" class="btn btn-outline-dark btn-sm rounded">forward</button>
                        </form>
                    </div>
                    <div class="card-body col-md-12">
                        <table class="table table-striped table-responsive w-100 d-block d-md-table data-table"
                               style="width:100%">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>start date</th>
                                <th>end date</th>
                                <th>deposit</th>
                                <th>total money</th>
                                <th>employee</th>
                                <th>customer</th>
                                <th>service</th>
                                <th>action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item:${listContract}" th:id="${item.contractId}" th:name="null">
                                <td th:text="${item.contractId}"></td>
                                <td th:text="${item.contractStartDate}"></td>
                                <td th:text="${item.contractEndDate}"></td>
                                <td th:text="${item.contractDeposit}"></td>
                                <td th:text="${item.contractTotalMoney}"></td>
                                <td th:text="${item.employee != null} ? ${item.employee.employeeName}"></td>
                                <td th:text="${item.customer != null} ? ${item.customer.customerName}"></td>
                                <td th:text="${item.service != null} ? ${item.service.serviceName}"></td>
                                <td>
                                    <a class="btn btn-info btn-sm rounded"
                                       th:href="@{/ContractDetail/detail/{id}(id = ${item.contractId})}"><i
                                            class="fas fa-info-circle"></i></a>
                                    <a class="btn btn-success btn-sm rounded"
                                       th:href="@{/Contract/edit/{id}(id = ${item.contractId})}"><i
                                            class="fas fa-pen-square"></i></a>
                                    <a class="btn btn-danger btn-sm rounded"
                                       th:href="@{/Contract/delete/{id}(id = ${item.contractId})}"><i
                                            class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{/layout::layoutFooter}"></div>
<script th:replace="~{/layout::layoutLibFooter}"></script>
</body>
</html>