<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style th:replace="~{/layout::layoutLibHeader}"></style>
</head>
<body>

<form action="/Customer/edit" method="post" th:object="${customer}">
    <input type="hidden" th:field="*{customerId}">
    <table border="1">
        <tr>
            <td>customer name</td>
            <td>
                <input type="text" th:field="*{customerName}">
                <div style="color: red" th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}"></div>
            </td>
        </tr>
        <tr>
            <td>customer birthday</td>
            <td>
                <input type="date" th:field="*{customerBirthday}">
            </td>
        </tr>
        <tr>
            <td>customer gender</td>
            <td>
                <select th:field="*{customerGender}">
                    <option value="0">Female</option>
                    <option value="1">Male</option>
                    <option value="2">Other</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>customer id card</td>
            <td>
                <input type="text" th:field="*{customerIdCard}">
            </td>
        </tr>
        <tr>
            <td>customer phone</td>
            <td>
                <input type="text" th:field="*{customerPhone}">
            </td>
        </tr>
        <tr>
            <td>customer email</td>
            <td>
                <input type="email" th:field="*{customerEmail}">
                <div style="color: red" th:if="${#fields.hasErrors('customerEmail')}" th:errors="*{customerEmail}"></div>
            </td>
        </tr>
        <tr>
            <td>customer address</td>
            <td>
                <input type="text" th:field="*{customerAddress}">
            </td>
        </tr>
        <tr>
            <td>customer type</td>
            <td>
                <select th:field="*{customerType}">
                    <option th:each="item:${customerTypeIter}" th:text="${item.customerTypeName}" th:value="${item.customerTypeId}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <th colspan="2">
                <button type="submit">submit</button>
            </th>
        </tr>
    </table>
</form>
<script th:replace="~{/layout::layoutLibFooter}"></script>
</body>
</html>