<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style th:replace="~{/layout::layoutLibHeader}"></style>
</head>
<body>

<div>
    <form action="/ServiceType/edit" method="post" th:object="${serviceType}">
        <input type="hidden" th:field="*{serviceTypeId}">
        <table border="1">
            <tr>
                <td>serviceTypeName name</td>
                <td>
                    <input type="text" th:field="*{serviceTypeName}">
                    <div style="color: red" th:if="${#fields.hasErrors('serviceTypeName')}" th:errors="*{serviceTypeName}"></div>
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    <button type="submit">submit</button>
                </th>
            </tr>
        </table>
    </form>
</div>
<script th:replace="~{/layout::layoutLibFooter}"></script>
</body>
</html>