<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style th:replace="~{/layout::layoutLibHeader}"></style>
</head>
<body>

    <div>
        <h3><a href="/ServiceType/create">create serviceType</a></h3>
        <table border="1">
            <tr>
                <th>serviceType id</th>
                <th>serviceType name</th>
                <th colspan="2">action</th>
            </tr>
            <tr th:each="item:${listServiceType}">
                <td th:text="${item.serviceTypeId}"></td>
                <td th:text="${item.serviceTypeName}"></td>
                <td><a th:href="@{/ServiceType/edit/{id}(id = ${item.serviceTypeId})}">edit</a></td>
                <td><a th:href="@{/ServiceType/delete/{id}(id = ${item.serviceTypeId})}">delete</a></td>
            </tr>
        </table>
    </div>
    <script th:replace="~{/layout::layoutLibFooter}"></script>
</body>
</html>