<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style th:replace="~{/layout::layoutLibHeader}"></style>
</head>
<body>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="w-100">
            <div class="card">
                <div class="card-header">
                    <a href="/Promotion/index">Promotion</a>
                </div>
                <div class="card-body col-md-12">
                    <form class="row" action="/Promotion/create" method="post" th:object="${promotion}">
                        <div class="form-group col-md-12">
                            <label>Title</label>
                            <input type="text" class="form-control rounded" th:field="*{promotionTitle}">
                            <div style="color: red" th:if="${#fields.hasErrors('promotionTitle')}"
                                 th:errors="*{promotionTitle}"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Start Date</label>
                            <input type="datetime-local" class="form-control rounded" th:field="*{promotionStartDate}">
                            <div style="color: red" th:if="${#fields.hasErrors('promotionStartDate')}"
                                 th:errors="*{promotionStartDate}"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>End Date</label>
                            <input type="datetime-local" class="form-control rounded" th:field="*{promotionEndDate}">
                            <div style="color: red" th:if="${#fields.hasErrors('promotionEndDate')}"
                                 th:errors="*{promotionEndDate}"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Discount</label>
                            <input type="number" step="any" min="0" class="form-control rounded" th:field="*{promotionDiscount}">
                            <div style="color: red" th:if="${#fields.hasErrors('promotionDiscount')}"
                                 th:errors="*{promotionDiscount}"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Detail</label>
                            <input type="text" class="form-control rounded" th:field="*{promotionDetail}">
                            <div style="color: red" th:if="${#fields.hasErrors('promotionDetail')}"
                                 th:errors="*{promotionDetail}"></div>
                        </div>
                        <div class="form-group col-md-12 text-center">
                            <button type="submit" class="btn btn-success rounded">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script th:replace="~{/layout::layoutLibFooter}"></script>
</body>
</html>