<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>index</h2>

<!--paging-->
<!--<ul class="pagination">-->
<!--    <li class="page-item">-->
<!--        <a class="page-link"  th:href="@{'/'(page=${entityOfMethodReturnPage.number - 1})}" th:if="${entityOfMethodReturnPage.hasPrevious()}" aria-label="Previous">-->
<!--            <span aria-hidden="true">&laquo;</span>-->
<!--        </a>-->
<!--    </li>-->
<!--    <li class="page-item"><a class="page-link" th:text="${entityOfMethodReturnPage.number -1}" th:if="${entityOfMethodReturnPage.hasPrevious()}" th:href="@{'/'(page=${entityOfMethodReturnPage.number - 1})}"></a></li>-->
<!--    <li class="page-item active"><a class="page-link" th:text="${entityOfMethodReturnPage.number}" th:href="@{'/'(page=${entityOfMethodReturnPage.number})}"></a></li>-->
<!--    <li class="page-item"><a class="page-link" th:text="${entityOfMethodReturnPage.number +1}" th:if="${entityOfMethodReturnPage.hasNext()}" th:href="@{'/'(page=${entityOfMethodReturnPage.number + 1})}"></a></li>-->
<!--    <li class="page-item">-->
<!--        <a class="page-link" th:href="@{'/'(page=${entityOfMethodReturnPage.number + 1})}" th:if="${entityOfMethodReturnPage.hasNext()}" aria-label="Next">-->
<!--            <span aria-hidden="true">&raquo;</span>-->
<!--        </a>-->
<!--    </li>-->
<!--</ul>-->
</body>
</html>