<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style th:replace="~{/layout::layoutLibHeader}"></style>
</head>
<body>

<div class="container-fluid ps-md-0">
    <div class="row g-0">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Welcome To Furama</h3>
                            <!-- Sign In Form -->
                            <form th:action="@{/login}" method="post">
                                <div class="form-floating mb-3">
                                    <label for="username">User Name</label>
                                    <input type="text" class="form-control rounded" id="username" name="username" placeholder="name@example.com">
                                </div>
                                <div class="form-floating mb-3">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control rounded" id="password" name="password" placeholder="Password">
                                </div>

                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox" id="remember-me" name="remember-me" style="width: 17px; height: 17px;">
                                    <label class="form-check-label" for="remember-me">
                                        Remember Account
                                    </label>
                                </div>
                                <div class="d-grid">
                                    <button class="text-center btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2 w-100 rounded" type="submit">Sign in</button>
                                    <div class="text-center">
                                        <a class="small" href="#">Forgot password?</a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="~{/layout::layoutLibFooter}"></script>
</body>
</html>